body {
    background-color: #fff;
    color: #000;
    scroll-behavior: smooth;
    width: 98vw;
    height: fit-content;
    margin: 0 auto;
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    width: 96%;
    height: 56px;
    margin: 0 auto;
    padding: 0 8px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    top: 0;
    z-index: 1;
    position: sticky;
}

header h1 {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    font-family: "Macondo";
    font-weight: 400;
    font-style: normal;
}

.menu {
    display: none;
}

nav {
    width: 50%;
}

nav ul {   
    display: flex;
    flex-flow: row;
    justify-content: right;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 32px;
}

li a {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    font-family: "Macondo";
    font-weight: 400;
    font-style: normal;
}

li a:hover {
    opacity: 60%;
}

li .cart {
    width: 14px;
    height: 14px;
    margin-left: -24px;
    margin-top: 8px;
    animation: cart  4s infinite;
}

@keyframes cart {
    100% {
        transform: rotate(360deg);
    }
}

nav ul li img:hover {
    animation-play-state: paused;
}

.header-hr {
    top: 56px;
    z-index: 1;
    position: sticky;
}

main {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hero, .portrait, .abstract, .note {
    width: 96%;
}

.hero {
    height: max-content;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.hero .description {
    width: 56%;
}

.hero h1 {
    width: 88%;
    font-size: 48px;
}

.hero .description span {
    font-weight: 900;
}

.hero .highlight {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.hero .highlight a {
    width: 48%;
    height: 100%;
}

.hero .highlight a img {
    height: 100%;
    width: 100%;
}

p {
    width: 96%;
    align-items: normal;
}

.portrait, .abstract {
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.portrait h2, .abstract h2 {
    text-align: center;
    font-size: 28px;
}

.paragraph {
    width: 80%;
    margin: 0 auto;
}

.gallery {
    width: 96%;
    height: max-content;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.gallery .grid {
    width: 32%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.gallery .grid a {
    width: 80%;
    margin: 0 auto;
}

.gallery .grid a img {
    width: 100%;
}

.note {
    margin-top: 28px;
}
.note .bold {
    font-style: italic;
    font-weight: 600;
}

.home-btn {
    position: sticky;
    bottom: 4%;
    left: 100%;
    z-index: 1;
    overflow: hidden;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    scroll-behavior: smooth;
}

footer {
    width: 96%;
    height: 40px;
    margin: 0 auto;
    padding: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

footer .icon-container {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

footer p {
    font-size: 16px;
    font-style: italic;
}

footer .icon-container .icon {
    width: 18px;
    height: 18px;
    margin-left: 20px;
}

footer .icon-container .icon:hover {
    opacity: 60%;
}

@media screen and (max-width: 912px) {
    header {
        height: 48px;
        padding: 0 8px;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        top: 0;
        z-index: 1;
        position: sticky;
        scrollbar-width: none;
    }

    header h1 {
    font-size: 20px;
    }

    .menu {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        display: flex;
        flex-flow: row;
        float: right;
        cursor: pointer;
    }

    #menuList {
        transition: all 0.25s;
    }

    nav ul {
        width: 96%;
        height: 96vh;
        margin: 0 auto;
        flex-flow: column;
        top: 40px;
        right: 0;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        background-color: #fff;
        display: flex;
        flex-flow: column; 
        justify-content: center;
        align-items: center;
    }

    ul li {
        margin-bottom: 28px;
        margin-left: -20px;
    }

    ul li a {
        color: #000;
    }

    ul .cart {
        margin: 0 auto;
        margin-top: 0;
    }

    .header-hr {
        top: 48px;
    }

    .hero {
        flex-flow: column;
    }

    .hero h1 {
        width: 100%;
    }

    .hero .description, .hero .highlight {
        width: 96%;
    }

    .hero .highlight {
        margin-top: 20px;
        align-items: center;
    }

    .portrait, .abstract {
        flex-flow: row wrap;
    }

    .portrait h2, .abstract h2 {
        font-size: 20px;
    }

    .gallery .grid {
        width: 48%;
    }

    .gallery .grid a img {
        width: 96%;
    }

    .grid .description p a {
        padding: 4px 12px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 480px) {    
    header h1 {
        font-size: 16px;
    }
      
    header h1, .menu {
        margin-top: 4px;
    }

    .menu {
        width: 16px;
        height: 16px;
    }

    .hero {
        width: 96%;
    }

    .hero h1 {
        width: 96%;
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .gallery .grid {
        width: 50%;
    }

    .paragraph {
        width: 96%;
    }

    footer .icon-container .icon {
        width: 16px;
        height: 16px;
        margin-left: 12px;
    }
}

@media screen and (max-width: 328px) {
    header h1 {
        font-size: 16px;
    }

    .hero h1 {
        font-size: 20px;
    }

    footer .icon-container .icon {
        width: 14px;
        height: 14px;
    }
}



